<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/gallery"/>
        <property name="username" value="gallery"/>
        <property name="password" value="gallery"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="AccountMapper.xml"/>
    <!--　暫定コメントアウト 
    <mapper resource="PhotoMapper.xml"/>
     -->
  </mappers>
</configuration>
